.container {
  justify-content: space-around;;
  align-items: center;

  width: 600px;
  height: 400px;

  flex-direction: column-reverse;
}

.item {
  height: 60px;
}

.item.item-1 {
  height: 80px;
  width: 80px
}

.item.item-3 {
  height: 200px;
  width: 70px
}
.item.item-5 {
  height: 120px;
  width: 90px
}

.item.item-4 {
  align-self: flex-end;
}
